.cards-index{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cards-bones{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title-h1{
    padding-top: 4rem;
}

.text{
    font-size: 120%;
}

.viscerocraneo{
    background: #fdbb2d;
    border-radius: 5px;
}

.neurocraneo{
    background: #fc466b;
    border-radius: 5px;
}

.frontal{
    background: #dc2d3a;
    border-radius: 5px;
    height: 100%;
  }
  
  .parietal{
    background: #175d21;
    border-radius: 5px;
  
  }
  
  .temporal{
    background: #79bc53;
    border-radius: 5px;
  }
  
  .pterigoides{
    background: #0c3c6b;
    border-radius: 5px;
  
  }
  
  .occipital{
    background: #463e6d;
    border-radius: 5px;
    
  }
  
  .esfenoides{
    background: #f38804;
    border-radius: 5px;
  
  }
  .incisivo{
    background: #fffeb7;
    border-radius: 5px;
  }
  
  .nasal{
    background: #a4e9fe;
    border-radius: 5px;
  }
  
  .maxilar{
    background: #a7f7c7;
    border-radius: 5px;
  }
  
  .lagrimal{
    background: #9e99b9;
    border-radius: 5px;
  }
  
  .cigomatico{
    background: #fed3c2;
    border-radius: 5px;
  }
  
  .mandibula{
    background: #fadbe6;
    border-radius: 5px;
  }
  
  .palatino{
    background: #caae93;
    border-radius: 5px;
  }
  
  .vomer{
    background: #ff9f73;
    border-radius: 5px;

  }

  .etmoides{
    background: #a9c24c;
    border-radius: 5px;
  }