.fondo {
  /*background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
  color: rgb(18, 18, 19);
}

.index {
  background: #ffeff0;
  min-height: 100vh;
}

.centrar {
  justify-content: center;
  text-align: center;
}

.justify-text{
  font-size: 120%;
  text-align: justify;
}

.frontalPages {
  background: #dc2d3a;
  min-height: 100vh;
  color: white;
}

.parietalPages {
  background: #fed302;
  min-height: 100vh;
}

.temporalPages {
  background: #79bc53;
  min-height: 100vh;
}

.pterigoidesPages {
  background: #082b63;
  min-height: 100vh;
  color: white;
}

.occipitalPages {
  background: #463e6d;
  min-height: 100vh;
  color: white;
}

.esfenoidesPages {
  background: #f38804;
  min-height: 100vh;
}

.incisivoPages {
  background: #fffeb7;
  min-height: 100vh;
}

.nasalPages {
  background: #96def4;
  min-height: 100vh;
}

.maxilarPages {
  background: #a7f7c7;
  min-height: 100vh;
}

.lagrimalPages {
  background: #9e99b9;
  min-height: 100vh;
}

.cigomaticoPages {
  background: #fed3c2;
  min-height: 100vh;
}

.mandibulaPages {
  background: #fadbe6;
  min-height: 100vh;
}

.palatinoPages {
  background: #caae93;
  min-height: 100vh;
}

.vomerPages {
  background: #ff9f73;
  min-height: 100vh;

}

.etmoidesPages {
  background: #a9c24c;
  min-height: 100vh;
}