.fondo {
    /*background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
    color: rgb(18, 18, 19);
}

.centrar{
    justify-content: center;
    text-align: center;
}

.frontal{
    background: #dc2d3a;
    border-radius: 5px;
  }
  
  .parietal{
    background-color: #fed302;
  
  }
  
  .temporal{
    background-color: #79bc53;
   
  }
  
  .pterigoides{
    background-color: #38a95f;
  
  }
  
  .occipital{
    background-color: #463e6d;
    
  }
  
  .esfenoides{
    background-color: #f38804;
  
  }
  
  .incisivo{
    background-color: #fffeb7;
  }
  
  .nasal{
    background: #a4e9fe;
  }
  
  .maxilar{
    background-color: #a7f7c7;
  }
  
  .lagrimal{
    background-color: #9e99b9;
  }
  
  .cigomatico{
    background-color: #418222;
  }
  
  .mandibula{
    background-color: #fadbe6;
  }
  
  .palatino{
    background-color: #caae93;
  }
  
  .vomer{
    background-color: #ff9f73;

  }