.single-card:hover{
    box-shadow: 5px 20px 20px 5px rgba(000, 000, 000, 0.5) !important;
    transition: all 0.35s linear;
}

.title{
    font-size: 2rem;
}

.single-card1{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 67%);
}

.single-card2{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}