.single-card:hover{
    box-shadow: 5px 20px 20px 5px rgba(000, 000, 000, 0.5) !important;
    transition: all 0.35s linear;
}

.title{
    font-size: 2rem;
}

.single-card1{
    background: #fc466b;
}

.single-card2{
    background: #fdbb2d;
}